<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MagicPlugin Account Detail"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Account Detail · Magic Account</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/mypage-index.css" rel="stylesheet">
    <link href="/public/assets/img/logo.png" rel="shortcut icon">
</head>
<body>
<main>
    <%- include("../../include/header.html"); %>

    <div class="container GmarketSansMedium">
        <div class="menu-wrapper">
            <div class="card account-info">
                <div>
                    <h2>Basic Info</h2>
                    <p><strong>UserId | </strong><%= user["userId"] %></p>
                    <p><strong>Username | </strong><%= user["username"] %></p>
                    <p><strong>E-Mail | </strong><%= user["email"] %></p>
                    <p><strong>RegisterAt | </strong><%= user["registerAt"] %></p>
                    <p><strong>LastLoginAt | </strong><%= user["lastLoginAt"] %></p>
                    <br>
                    <h2>Data for Developer</h2>
                    <p><strong>PasswordHash | </strong><%= user["passwordHash"] %></p>
                    <p><strong>PasswordSalt | </strong><%= user["salt"] %></p>
                    <p><strong>IsAdmin | </strong><%= user["isAdmin"] %></p>
                    <p><strong>IsMailVerified | </strong><%= user["isMailVerified"] %></p>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../include/footer.html"); %>
</main>
</body>
</html>
