<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MagicStore"/>
    <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

    <title>ProductList · MagicStore</title>

    <link href="../../public/assets/css/style.css" rel="stylesheet">
    <link href="../../public/assets/css/product_list.css" rel="stylesheet">
    <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

    <script src="../../public/assets/js/includeHTML.js"></script>
</head>
<body>
    <header include-html="../../public/assets/header.html"></header>

    <main class="m-5">
        <div class="row GmarketSansMedium">
            <% for(let i = 0; i < products.length; i++) { %>
                <div class="card" style="width: 18rem;">
                    <a href="detail?id=<%= products[i].product_id %>">
                        <img src="<%= products[i].thumbnail_path %>" class="card-img" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= products[i].title %></h5>
                        <p class="card-text">
                            <span class="badge bg-dark"><%= products[i].tag %></span>
                        </p>
                        <div class="card-info">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="#">장바구니 담기</a>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="#">주문하기</a>
                                </button>
                            </div>
                            <small class="text-dark"><%= products[i].price %></small>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </main>

    <footer include-html="../../public/assets/footer.html"></footer>
</body>

<script>
    includeHTML()
</script>
</html>