<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pexel Store Detail [<%= product["title"] %>]"/>
    <meta property="og:image" content="<%= product["productImageURL"] %>"/>

    <title>Product Detail [<%= product["title"] %>] · Pexel Store</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/product-detail.css" rel="stylesheet">
    <link href="/public/assets/img/logo.png" rel="shortcut icon">
</head>
<body>
<%- include("../include/header.html") %>

<main class="mt-3">
    <div class="container text-center GmarketSansMedium">
        <div class="product-card-container">
            <div class="product">
                <div class="product-image-wrapper">
                    <img id="image1" src="<%= product["productImageURL"] %>" class="product-image" alt="product image"/>
                </div>

                <div class="mid-bar"></div>

                <div class="product-data card p-3">
                    <h3 class="product-title"><%= product["title"] %></h3>

                    <span class="badge bg-info"><%= product["tag"] %></span>

                    <h5 class="product-info">It will be emailed to you in a few minutes</h5>

                    <div class="horizontal-line"></div>

                    <p class="product-short-description"><%= product["shortDescription"] %></p>

                    <div class="price-container-box">
                        <div class="price-container1">
                            <h3>Price</h3>
                        </div>

                        <div class="price-container2">
                            <h3><%= product["price"] %>$</h3>
                        </div>
                    </div>

                    <div class="horizontal-line"></div>

                    <a href="/store/buy/<%= product["productId"] %>">
                        <button type="button" class="btn btn-lg btn-outline-primary" style="width: 100%;">
                            Buy now
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="product-long-description-container">
            <div class="product-long-description card">
                <h3>[ DESCRIPTION ]</h3>
                <%- product["description"] %>
            </div>
        </div>
    </div>
</main>

<%- include("../include/footer.html") %>
</body>
</html>