<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MagicStore Product List"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Product List · MagicStore</title>

    <link href="../../../public/assets/css/style.css" rel="stylesheet">
    <link href="../../../public/assets/css/admin-product-list.css" rel="stylesheet">
    <link href="../../../public/assets/img/logo.png" rel="shortcut icon">
</head>
<body>
<%- include("../../include/header.html") %>

<main class="m-5">
    <div class="row GmarketSansMedium">
        <% if(products.length === 0) { %>
            <p class="GmarketSansMedium">Oops! Nothing's in here.</p>
        <% } else { %>
            <% for(let i = 0; i < products.length; i++) { %>
                <div class="card" style="width: 18rem;">
                    <a href="../detail/<%= products[i].title %>">
                        <img src="<%= products[i].thumbnailImageURL %>" class="card-img" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= products[i].title %></h5>
                        <p class="card-text">
                            <span class="badge bg-dark"><%= products[i].tag %></span>
                        </p>
                        <div class="card-info">
                            <a href="/api/product/delete/<%= products[i].productId %>" style="width: 100%;">
                                <button type="button" class="btn btn-sm btn-outline-danger btn-delete">
                                    Delete
                                </button>
                            </a>
                            <small class="text-dark"><%= products[i].price %>\</small>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</main>

<%- include("../../include/footer.html") %>
</body>
</html>